<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jade.android">
    
    <uses-permission id="android.permission.READ_CONTACTS" />
    <uses-permission id="android.permission.WRITE_CONTACTS" />
    <uses-permission id="com.google.android.xmppService.permission.XMPP_SERVICE" />
    <uses-permission id="android.permission.RUN_INSTRUMENTATION" />
    
    <application android:icon="@drawable/icon">
    	<service class=".MicroRuntimeService" />
        <activity class=".demo.WelcomeActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity class=".demo.SendMessageActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity class=".demo.MessageDetailsActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest> 