<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jade.android">
    
    <uses-permission id="android.permission.READ_CONTACTS" />
    <uses-permission id="android.permission.WRITE_CONTACTS" />
    <uses-permission id="com.google.android.xmppService.permission.XMPP_SERVICE" />
    <uses-permission id="android.permission.RUN_INSTRUMENTATION" />
    
    <application android:icon="@drawable/jade" android:label="@string/app_name" >
    	<service android:name=".MicroRuntimeService" />
        <activity android:name=".demo.SendMessageActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".demo.MessageDetailsActivity" android:label="@string/msg_details" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
            
    </application>
</manifest> 