
// --- These are the basic Java permissions to allow JADE to start up---
grant codebase "file:../../../../lib/jade.jar" {
	permission java.security.AllPermission; };
grant codebase "file:../../../../lib/jadeTools.jar" {
	permission java.security.AllPermission; };
grant codebase "file:../../../../add-ons/security/lib/jadeS.jar" {
	permission java.security.AllPermission; };


// permissions for 'alice'
grant principal jade.security.impl.PrincipalImpl "alice" {
	// agent Anja, owned by 'alice', cannot move to other containers 
	// (no 'move' action permitted in AgentPermission)
	permission jade.security.impl.AgentPermission "alice", "create,kill,suspend,resume,take,send-to,send-as,receive-from";
	//permission jade.security.impl.AgentPermission "alice", "move,copy";
	permission jade.security.impl.PlatformPermission "alice", "create,kill";
	permission jade.security.impl.ContainerPermission "alice", "create,kill,create-in,kill-in";
	permission jade.security.impl.AuthorityPermission "alice", "sign-ic,sign-dc";
	permission jade.security.impl.AMSPermission "alice", "register,deregister,modify";
};

// Agent Barbara can move agents owned by the user 'alice'
// This permission will be delegated to agent Anja owned by 'alice' 
// so that Anja can move from the Main-Container to Container-1 
grant principal jade.security.impl.PrincipalImpl "bob" {
	permission jade.security.impl.AgentPermission "alice", "move";
	permission jade.security.impl.ContainerPermission "alice", "move-from";
	permission jade.security.impl.ContainerPermission "bob", "move-to";
};

grant principal jade.security.impl.PrincipalImpl "bob" {
	permission jade.security.impl.AuthorityPermission "alice", "sign-dc";
};


// permissions for 'bob'
grant principal jade.security.impl.PrincipalImpl "bob" {
	permission jade.security.impl.AgentPermission "bob", "create,kill,suspend,resume,take,send-to,send-as,receive-from,move,copy";
	permission jade.security.impl.PlatformPermission "bob", "create,kill";
	permission jade.security.impl.ContainerPermission "bob", "create,kill,create-in,kill-in";
	permission jade.security.impl.AuthorityPermission "bob", "sign-ic,sign-dc";
	permission jade.security.impl.AMSPermission "bob", "register,deregister,modify";
};


// alice and bob can exchange messages
grant principal jade.security.impl.PrincipalImpl "bob" {
	permission jade.security.impl.AgentPermission "alice", "send-to,send-as,receive-from";
};
grant principal jade.security.impl.PrincipalImpl "alice" {
	permission jade.security.impl.AgentPermission "bob", "send-to,send-as,receive-from";
};


// enable to everybody messaging from/to to ams 
// and permission of delegating the ams (ability to sign delegation certificates)
grant principal jade.security.impl.PrincipalImpl "" {
	permission jade.security.impl.AuthorityPermission "/ams", "sign-dc";
	permission jade.security.impl.AgentPermission "/ams", "send-to,receive-from"; 
};
grant principal jade.security.impl.PrincipalImpl "/ams" {
	permission jade.security.impl.AgentPermission "", "send-to,receive-from";
};



