//
// --- These are the basic Java permissions to allow JADE to start up---
//
grant codebase "file:../../../../lib/jade.jar" {
	permission java.security.AllPermission; };
grant codebase "file:../../../../lib/jadeTools.jar" {
	permission java.security.AllPermission; };
grant codebase "file:../../../../add-ons/security/lib/jadeS.jar" {
	permission java.security.AllPermission; 
};




//
// --- Below all the JADE permissions allowed for the platform ---
//

//
// --- UNCOMMENT the following for allowing message exchange between agents belonging to 'alice' and 'bob' ---
//
//grant principal jade.security.impl.PrincipalImpl "bob" {
//	permission jade.security.impl.AgentPermission "alice", "send-to,receive-from"; };
//grant principal jade.security.impl.PrincipalImpl "alice" {
//	permission jade.security.impl.AgentPermission "bob", "send-to,receive-from"; };



//
// --- UNCOMMENT the following, so that 'bob' is allowed to kill 'da1' on 'Container-1'  ---
//
//grant principal jade.security.impl.PrincipalImpl "bob" {
//	permission jade.security.impl.AgentPermission "/da1", "kill";
//	permission jade.security.impl.ContainerPermission "/Container-1", "kill-in";
//	permission jade.security.impl.AMSPermission "/da1", "modify";
//};


// enable a set of permissions for 'bob'
grant principal jade.security.impl.PrincipalImpl "bob" {
	permission jade.security.impl.AgentPermission "bob", "create,kill,suspend,resume,take,send-to,send-as,receive-from,move,copy";
	permission jade.security.impl.PlatformPermission "bob", "create,kill";
	permission jade.security.impl.ContainerPermission "bob", "create,kill,create-in,kill-in";
	permission jade.security.impl.AuthorityPermission "bob", "sign-ic,sign-dc";
	permission jade.security.impl.AMSPermission "bob", "register,deregister,modify";
};


// enable messaging from/to to ams 
// and permission for anybody of delegating the ams (ability to sign delegation certificates)
grant principal jade.security.impl.PrincipalImpl "" {
	permission jade.security.impl.AuthorityPermission "/ams", "sign-dc";
	permission jade.security.impl.AgentPermission "/ams", "send-to,receive-from"; 
};
grant principal jade.security.impl.PrincipalImpl "/ams" {
	permission jade.security.impl.AgentPermission "", "send-to,receive-from";
};


// enable a set of permissions for 'alice'
grant principal jade.security.impl.PrincipalImpl "alice" {
	permission jade.security.impl.AgentPermission "alice", "create,kill,suspend,resume,take,send-to,send-as,receive-from,move,copy";
	permission jade.security.impl.AMSPermission "alice", "register,deregister,modify";
	permission jade.security.impl.PlatformPermission "alice", "create,kill";
	permission jade.security.impl.ContainerPermission "alice", "create,kill,create-in,kill-in";
	permission jade.security.impl.AuthorityPermission "alice", "sign-ic,sign-dc";
};


// all what is not explicitly allowed, is denied 
